/* line 3, ../sass/mygrid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/mygrid.scss */
.grid, .demo-one, .demo-two, .demo-three, .demo-four, .demo-five {
  *zoom: 1;
}
/* line 11, ../sass/mygrid.scss */
.grid:after, .demo-one:after, .demo-two:after, .demo-three:after, .demo-four:after, .demo-five:after {
  clear: both;
}
/* line 14, ../sass/mygrid.scss */
.grid:before, .demo-one:before, .demo-two:before, .demo-three:before, .demo-four:before, .demo-five:before, .grid:after, .demo-one:after, .demo-two:after, .demo-three:after, .demo-four:after, .demo-five:after {
  content: " ";
  display: table;
}

/* line 20, ../sass/mygrid.scss */
.grid, .demo-one, .demo-two, .demo-three, .demo-four, .demo-five {
  background: white;
  margin: 0 0 24px 0;
}

/* line 26, ../sass/mygrid.scss */
.col, .demo-one .main, .demo-one .sidebar, .demo-two .main, .demo-two .sidebar, .demo-three > div, .demo-four .main, .demo-four .sidebar, .demo-five .main, .demo-five .sidebar, .demo-five .a1 {
  float: left;
  padding-right: 24px;
}
/* line 29, ../sass/mygrid.scss */
.col:last-of-type, .demo-one .main:last-of-type, .demo-one .sidebar:last-of-type, .demo-two .main:last-of-type, .demo-two .sidebar:last-of-type, .demo-three > div:last-of-type, .demo-four .main:last-of-type, .demo-four .sidebar:last-of-type, .demo-five .main:last-of-type, .demo-five .sidebar:last-of-type, .demo-five .a1:last-of-type {
  padding-right: 0;
}

/* line 33, ../sass/mygrid.scss */
.col-2-3, .demo-one .main, .demo-two .main {
  width: 66.66%;
}

/* line 36, ../sass/mygrid.scss */
.col-1-3, .demo-one .sidebar, .demo-two .sidebar, .demo-five .sidebar {
  width: 33.33%;
}

/* line 39, ../sass/mygrid.scss */
.col-1-2, .demo-four .main {
  width: 50%;
}

/* line 42, ../sass/mygrid.scss */
.col-1-4, .demo-four .sidebar, .demo-five .a1 {
  width: 25%;
}

/* line 45, ../sass/mygrid.scss */
.col-3-4 {
  width: 75%;
}

/* line 48, ../sass/mygrid.scss */
.col-1-5 {
  width: 20%;
}

/* line 51, ../sass/mygrid.scss */
.col-1-6, .demo-five .main {
  width: 16.66%;
}

/* line 54, ../sass/mygrid.scss */
.col-1-7 {
  width: 14.28%;
}

/* line 57, ../sass/mygrid.scss */
.col-1-8, .demo-three > div {
  width: 12.5%;
}

/* line 61, ../sass/mygrid.scss */
.module {
  padding: 24px;
  background: #eee;
}

/* Opt-in outside padding */
/* line 67, ../sass/mygrid.scss */
.grid-pad, .demo-two, .demo-three, .demo-four, .demo-five {
  padding: 24px 0 24px 24px;
}
/* line 69, ../sass/mygrid.scss */
.grid-pad .col:last-of-type, .demo-two .col:last-of-type, .demo-three .col:last-of-type, .demo-four .col:last-of-type, .demo-five .col:last-of-type, .grid-pad .demo-one .main:last-of-type, .demo-one .grid-pad .main:last-of-type, .demo-three .demo-one .main:last-of-type, .demo-one .demo-three .main:last-of-type, .grid-pad .demo-one .sidebar:last-of-type, .demo-one .grid-pad .sidebar:last-of-type, .demo-three .demo-one .sidebar:last-of-type, .demo-one .demo-three .sidebar:last-of-type, .demo-two .main:last-of-type, .demo-two .sidebar:last-of-type, .demo-three > div:last-of-type, .demo-four .main:last-of-type, .demo-four .sidebar:last-of-type, .demo-five .main:last-of-type, .demo-five .sidebar:last-of-type, .demo-five .a1:last-of-type {
  padding-right: 24px;
}

/* line 74, ../sass/mygrid.scss */
body {
  padding: 10px 50px 200px;
  background: url(http://subtlepatterns.com/patterns/dark_wall_@2X.png);
  background-size: 300px 300px;
}

/* line 79, ../sass/mygrid.scss */
h1 {
  color: white;
}
/* line 81, ../sass/mygrid.scss */
h1 em {
  color: #666;
  font-size: 16px;
}

/* Semantic grid stuff */
